 <!-- Header -->
 <header>
    <a routerLink ="/home">
      <img src="./assets/Viatges-Cascino.png" alt="Logo" class="logo" />
    </a>

    <!--Aparatado de botoes de cambio de idioma-->
    <div class="language-switcher">
      <button (click)="changeLanguage('es')" [class.active]="currentLang === 'es'" class="language-btn">
        <img src="./assets/SpainFlag.png" alt="Español" class="flag" />
        <span>ES</span>
      </button>
      
      <button (click)="changeLanguage('fr')" [class.active]="currentLang === 'fr'" class="language-btn">
        <img src="./assets/FrenchFlag.png" alt="Francés" class="flag" />
        <span>FR</span>
      </button>
    </div>
  </header>