<section class="container my-5">
    <div class="row align-items-center bg-light p-4 rounded-3 shadow-sm">
      <div class="col-lg-8">
        <h2 class="fw-bold mb-4">{{ 'Bienvenida-agencia' | translate }}</h2>
        <p class="lead">
          {{ 'P1-agencia' | translate }}
        </p>
        <p>
          {{ 'P2-agencia' | translate }}
        </p>
        <p>
          {{ 'P3-agencia' | translate }}
        </p>
        <p>
          {{ 'P4-agencia' | translate }}
        </p>
        <p>
          {{ 'P5-agencia' | translate }}
        </p>
        <p class="fw-bold">{{ 'P6-agencia' | translate }}</p>
      </div>
      <div class="col-lg-4 text-center mt-4 mt-lg-0">
        <img src="./assets/ViatgesCascinoLaAgencia.jpg" alt="Logo Agencia" class="img-fluid" style="max-width: 1050px;" />
      </div>
    </div>
  </section>
  