<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="./assets/LogoBlanco.png" alt="Logo de Viajes Cascino" />
      </div>
      <div class="footer-info">
        <p>yohan&#64;viatgescascino.fr</p>
        <p>0033 662 80 89 08</p>
        <p>Calle Falsa 123, Barcelona, España</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Viatges Cascino S.L.U</p>
      <a href="#">Aviso legal</a> | <a href="#">Uso de cookies</a>
    </div>
  </footer>