<footer class="footer text-white py-4" style="background-color: --main-bg-color">
  <div class="container">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <img src="./assets/LogoBlanco.png" alt="Logo de Viajes Cascino" class="img-fluid" style="width: 200px;">
      </div>
      
      <!-- Info de contacto -->
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <p class="mb-1">yohan&#64;viatgescascino.fr</p>
        <p class="mb-1">0033 662 80 89 08</p>
        <p class="mb-0">Calle Falsa 123, Barcelona, España</p>
      </div>
      
      <!-- Enlaces legales -->
      <div class="col-md-4 text-center text-md-end">
        <p class="mb-2 small">&copy; 2025 Viatges Cascino S.L.U</p>
        <div>
          <a routerLink="/aviso-legal" class="text-white text-decoration-none me-2">Aviso legal</a> |
          <a routerLink ="/cookies" class="text-white text-decoration-none ms-2">Uso de cookies</a>
        </div>
      </div>
    </div>
  </div>
</footer>