      <!-- Título de la pagina -->
      <h1 class="destination-title">CARNAVAL EN VENECIA</h1>

      <!-- Información basica -->
      <div class="info-basica">
        <p><strong>Duración:</strong> 4 días del 21 al 24 de febrero de 2025</p>
        <p class="precio"><strong>Precio:</strong> 430€</p>
      </div>

      <!-- Itinerario -->
      <div class="itinerario">
        <div class="dia con-imagen">
          <div class="texto">
            <h3>DÍA 1: TU LOCALIDAD / LIDO DI JESOLO</h3>
            <p>
              Salida temprana en autocar gran turismo. Durante el trayecto,
              tiempo libre para almorzar por cuenta propia. Continuaremos
              nuestro viaje hacia Lido di Jesolo, llegando al hotel a última
              hora de la tarde. Una vez instalados, disfrutaremos de la cena
              (incluye bebida) y alojamiento.
            </p>
          </div>

          <div class="imagen">
            <img src="/img/veneciaMapa.png" alt="Día 1 - Lido di Jesolo" />
          </div>
        </div>

        <div class="dia con-imagen">
          <div class="texto">
            <h3>
              DÍA 2: MURANO / BURANO / CARNAVAL DE VENECIA Y LA FIESTA DE LAS
              MARÍAS
            </h3>
            <p>
              Después del desayuno, nos embarcaremos con guía en un vaporetto
              privado hacia Murano, conocida por sus legendarios maestros
              vidrieros. A continuación, visitaremos Burano, famosa por sus
              encajes y sus pintorescas casas de colores. Almorzaremos en el
              restaurante «Le Raspo de UA», especializado en pescado, con
              bebidas incluidas. Posteriormente, disfrutaremos de tiempo libre
              en Venecia para vivir la FIESTA DE LAS MARÍAS, que da inicio
              oficial al Carnaval de Venecia. Por la tarde, regresaremos en
              vaporetto a Punta Sabbioni y, finalmente, al hotel, donde nos
              espera la cena (incluye bebida) y alojamiento.
            </p>
          </div>
          <div class="imagen">
            <img src="/img/restauranteABurano.jpg" alt="Día 2 - Restaurante" />
          </div>
        </div>

        <div class="dia">
          <h3>DÍA 3: LIDO DI JESOLO / CARNAVAL DE VENECIA</h3>
          <p>
            Tras el desayuno, nos dirigiremos a Punta Sabbioni para embarcar en
            un vaporetto privado hacia Venecia. Tendremos la mañana libre para
            explorar la ciudad y disfrutar de sus encantos. El almuerzo será a
            bordo del barco, con bebidas incluidas. Durante la tarde,
            continuaremos disfrutando del animado ambiente del Carnaval de
            Venecia. Al final del día, regresaremos al hotel, donde nos espera
            la cena (incluye bebida) y alojamiento.
          </p>
        </div>

        <div class="dia">
          <h3>DÍA 4: LIDO DI JESOLO / TU LOCALIDAD</h3>
          <p>
            Después del desayuno, salida del hotel para iniciar el viaje de
            regreso. Durante el trayecto, habrá tiempo libre para almorzar por
            cuenta propia. Llegada prevista a tu localidad por la noche.
          </p>
        </div>
      </div>
      <div class="info-boxes">
        <div class="info-box">
          <h3>Incluye:</h3>
          <ul>
            <li>Transporte en autocar gran turismo.</li>
            <li>
              Alojamiento en hotel *** o **** en régimen de media pensión
              (desayuno y cena con bebidas incluidas).
            </li>
            <li>Almuerzos en restaurante los días 2 y 3.</li>
            <li>Excursiones y actividades mencionadas en el programa.</li>
          </ul>
        </div>

        <div class="info-box">
          <h3>No incluye:</h3>
          <ul>
            <li>Suplemento por habitación individual: +95€.</li>
            <li>Seguro de asistencia y cancelación: +20€.</li>
            <li>Almuerzos del día 1 y 4.</li>
            <li>Tasas de entrada y estancia.</li>
          </ul>
        </div>
      </div>
