<div class="container my-5">
  <!-- Título de la página -->
  <h1 style="color: var(--main-bg-color)" class="text-center mb-4 display-4 fw-bold">
    PLAYA D'ARO - HOTEL CALETA PALACE ****
  </h1>

  <!-- Información básica -->
  <div class="row mb-4">
    <div class="col-md-6">
      <p class="fs-5"></p>
      <p class="fs-5 mb-1"><strong>Duración:</strong> 4 días</p>
      <p class="fs-5 mb-1"><strong>Fechas de salida:</strong></p>
      <ul class="list-unstyled">
        <li>• Del 03 al 07 Junio 2025</li>
        <li>• Del 09 al 13 Junio 2025</li>
      </ul>
    </div>
    <div class="col-md-6 text-md-end">
      <p class="fs-3 fw-bold fst-italic text-dark">
        <strong>Precio:</strong> 310€
      </p>
    </div>
  </div>

  <div class="container my-4">
    <!-- Itinerario -->
    <div class="card shadow-sm mb-4">
      <div class="card-body p-3">
        <!-- Día 1 -->
        <div class="mb-4">
          <!-- Reordenamiento para mobile -->
          <h3
            style="color: #7a3131; border-bottom: 2px solid #7a3131"
            class="h4 pb-2 mb-2"
          >
            DÍA 1: TU LOCALIDAD / PLAYA D'ARO
          </h3>
          <p class="mb-0 text-justify">
            Salida de tu localidad por la mañana. Llegada al hotel para el
            almuerzo. Tarde libre para descubrir por tu cuenta la ciudad. Por la
            noche, cena, animación y alojamiento.
          </p>
        </div>

        <!-- Día 2 -->
        <div class="mb-4">
          <h3
            style="color: #7a3131; border-bottom: 2px solid #7a3131"
            class="h4 pb-2 mb-2"
          >
            DÍA 2: PALAMOS (MAÑANA O TARDE)
          </h3>
          <p class="mb-0 text-justify">
            Desayuno y salida hacia la ciudad de Palamós. Regreso al hotel para
            el almuerzo. Tarde libre. Por la noche, cena, animación y
            alojamiento.
          </p>
        </div>

        <!-- Día 3 -->
        <div class="mb-4">
          <h3
            style="color: #7a3131; border-bottom: 2px solid #7a3131"
            class="h4 pb-2"
          >
            DÍA 3: JORNADA LIBRE EN PENSIÓN COMPLETA
          </h3>
          <p class="mb-0 text-justify-custom">
            Día libre en pensión completa en el hotel. Desayuno y almuerzo. Por
            la noche, cena, animación y alojamiento.
          </p>
        </div>

        <!-- Día 4 -->
        <div class="mb-4">
          <h3
            style="color: #7a3131; border-bottom: 2px solid #7a3131"
            class="h4 pb-2"
          >
            DÍA 4: PALLS (MAÑANA O TARDE)
          </h3>
          <p class="mb-0 text-justify-custom">
            Desayuno y salida hacia el pueblo de Palls. Regreso al hotel para el
            almuerzo. Tarde libre. Por la noche, cena, animación y alojamiento.
          </p>
        </div>

        <!-- Día 5 -->
        <div class="mb-4">
          <h3
            style="color: #7a3131; border-bottom: 2px solid #7a3131"
            class="h4 pb-2"
          >
            DÍA 5: PLAYA D'ARO / TU LOCALIDAD
          </h3>
          <p class="mb-0 text-justify-custom">
            Desayuno y salida. Parada en La Jonquera para últimas compras y
            continuación hacia tu localidad.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Info Boxes -->
  <div class="row g-4 mb-5">
    <div class="col-md-6">
      <div class="card h-100 shadow-sm">
        <div
          style="background-color: #7a3131"
          class="card-header text-white text-center"
        >
          <h3 class="h5 mb-0">Incluye:</h3>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Transporte en autocar gran turismo</li>
            <li class="list-group-item">
              Alojamiento en hotel **** en habitaciones dobles en pensión
              completa
            </li>
            <li class="list-group-item">
              Bebidas incluidas (vino y agua) en las comidas
            </li>
            <li class="list-group-item">
              Las excursiones mencionadas en el programa
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-secondary text-white text-center">
          <h3 class="h5 mb-0">No incluye:</h3>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            
            <li class="list-group-item">
              Seguro de asistencia, repatriación y cancelación + 12€
            </li>
            <li class="list-group-item">Tasa de estancia 4€ por persona</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
