/* Estilos base del navbar */
.navbar {
  background-color: var(--main-bg-color) ;
  padding: 0.6rem 0;
}

.nav-link {
  color: var(--text-color-light) ;
  font-size: 1.2rem;
  padding: 0.6rem 1rem ;
  transition: all 0.2s ease;
  text-align: center;
}

.nav-link:hover {
  font-weight: bold;
}

/* Dropdown al hover */
.dropdown-hover:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Elimina el espacio entre el ítem y el dropdown */
}

.dropdown-menu {
  background-color: #7a3131;
  color: #eccaca;
}

.dropdown-menu a {
  color: #eccaca;
}

.dropdown-menu a:hover {
  background-color: #eccaca;
  color: #7a3131;
}


.dropdown-menu {
  display: none;
  position: absolute;
  border: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  /* Animación suave */
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  display: block;
}

.dropdown-hover:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  color: var(--bg-text-color);
  padding: 0.75;
}