<main class="main">
    <!--Arregalr el dropdown, que salga desde la caja y no del texto-->
    <nav>
      <ul>
        <li><a routerLink ="/home">Inicio</a></li>
        <li><a routerLink ="/catalogo">Catálogo</a></li>
        <li class="dropdown">
          <a routerLink ="/destinations" class="dropbtn">Destinaciones</a>
          <div class="dropdown-content">
            <a href="">España</a>
            <a href="">Italia</a>
            <a href="">Andorra</a>
            <a href="">Otros</a>
          </div>
        <li><a routerLink ="/la-agencia">La agencia</a></li>
        <!-- Sobre nosotros / La agencia-->
        <li><a routerLink ="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </main>